<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Desafio CSS</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="dentro">
        <h1>Josué Fernandes</h1>
        <ul>
            <a href="https://www.instagram.com/josue.mfernandes7/">
                <li id="insta"> /josue.mfernandes7</li>
            </a>
            <a href="#">
                <li id="tww"> /josuemf7</li>
            </a>
            <a href="https://www.youtube.com/channel/UCVBbLo-iIHoeym0SXzHJ5cA">
                <li id="ytb">/josuEfernandeS </li>
            </a>

        </ul>

    </div>
    

</body>

</html>