:root {
  --externBG: #50206C;
  --internBG: #3D1952;
  --elementLeft: #FFFFFF;
  --elementRight: #E0E0E2;
}
body {
  background: #50206C;
}
.gameBoard {
  position: relative;
  /* background: var(--internBG); */
  max-width: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,auto);
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  border: 1px solid #fff;
}
.defaultElement {
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: var(--internBG);
}
.ativo {
  display: block;
  animation: opacity 2s forwards;
}
@keyframes opacity{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.xis{
  font-size: 0 !important;
  visibility: hidden;
  position: relative;
}
.xis::after,
.xis::before {
  visibility: visible;
  content: '';
  background-image: linear-gradient(to right, var(--elementLeft) 33%,var(--elementRight) 50%);
  position: absolute;
  height:15px;
  width:80px;
  top: 50%;
  border-radius: 4px;
}

.xis::after{
  transform: translateY(-50%) rotate(45deg);
}
.xis::before{
  transform: translateY(-50%) rotate(-45deg);
}

.bolinha{
  font-size: 0 !important;
  background-image: linear-gradient(to right, var(--elementLeft) 50%, var(--elementRight) 50% );
  border-radius: 100%;
}

.winner {
  opacity: 0;
  margin: 0 auto;
  text-align: center;
  padding-block:10px;
  color: #fff;
}

.novoJogo {
  position: absolute;
  top: 0;
  text-align: center;
  background: red;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
  animation: slideRight 2s;
  display: none;
}
.novoJogo button {
  cursor: pointer;
}

@keyframes slideRight{
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}