
.section {
  width: 500px;
  margin: 50px auto;
  opacity: 0;
}
.section.ativo {
  animation: slide .3s forwards;
}
@keyframes slide {
  from {
    opacity: 0;
  transform: translate(-30px);
  }
  to {
      opacity: 1;
  transform: translate(0);
  }
}

